<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="https://unpkg.com/feather-icons"></script>
		<title>Document</title>
		<link rel="stylesheet" href="../style/style.css" />
	</head>
	<body>
		<h1>Toggle</h1>

		<input type="checkbox" name="themeToggle" id="themeToggle" />
		<label for="themeToggle" class="themeToggleIcon">
			<div class="lightIcon">
				<div class="lightIcon__circle"></div>
				<div class="lightIcon__line lightIcon__line1"></div>
				<div class="lightIcon__line lightIcon__line2"></div>
				<div class="lightIcon__line lightIcon__line3"></div>
				<div class="lightIcon__line lightIcon__line4"></div>
				<div class="lightIcon__line lightIcon__line5"></div>
				<div class="lightIcon__line lightIcon__line6"></div>
				<div class="lightIcon__line lightIcon__line7"></div>
				<div class="lightIcon__line lightIcon__line8"></div>
			</div>
			<i data-feather="moon" class="darkIcon"></i>
		</label>

		<script src="../scripts/script.js"></script>
		<script>
			feather.replace()
		</script>
	</body>
</html>
