.landing {
    width: 90%;
    margin: 0 auto;

    &__hero {
        margin: 0 auto;

        &Product {
            position: relative;
        }

        &ProductBody {}

        &ProductImage {}

        &ProductLink {
            text-decoration: none;
        }
    }
}