.header{
    width: 100vw;
    height: 52px;
    background-color: $primary;
    position: relative;
    display: inline-grid;
    flex-direction: column;
    &__navigation{
        background-color: $primary;
    }
        &__topbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        }
        &__logo{
            background-color: $primary;
        }
        &__menu{
            display: none;
            margin: 6em 0 0 15px;
            & li{
                list-style: none;
            }
            & a{
                text-decoration: none;
                color: var(--text);
                & img{
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                }
            }
            
        }
}
#themeToggle{
    display: none;
}
.burger{
    margin-right: 5px;
    height: 30px;
    width: 30px;
    background-color: transparent;
    border: none;
    &__Icon{
    transition: all 350ms linear;

    }
}
.logoLink{
    margin: 1px 0 0 5px;
    width: 50px;
    width: 50px;
}

@media (min-width: 700px){
    .header{
        background-color: var(--bg);
    }
    .navigation{
        display: flex;
        &__menu{
            display: block;
        }
        &__iconContainer{
            width: 50px;
            height: 50px;
        }
    }
}