@import '../base/resets';
@import '../base/variables';

//Mobile
.packageSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



    &__img {
        padding-bottom: 30px;
    }

    &__header {
        font-size: $x-large;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 30px;
    }

    &__aside {
        border-radius: $border-radius;
        background-color: $tertiary;
        color: $light;


        &__boldTopText {
            font-weight: bold;
            font-size: $small;
            padding: 10px 10px 40px 40px;
        }

        &__boldMiddleText {
            font-weight: bold;
            font-size: $large;
            padding: 10px 80px 40px 40px;

        }

        &__boldBottomText {
            font-weight: bold;
            font-size: $medium;
            padding: 10px 70px 40px 80px;
        }
    }

}

//Desktop
@media screen and(min-width: 768px) {
    .packageSection {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &__img {
            padding-bottom: 0px;
        }

        &__header {
            display: flex;
            font-size: $x-large;
        }

        &__aside {
            border-radius: $border-radius;
            background-color: $tertiary;
            width: 550px;
            height: 640px;
            color: $light;

            &__boldTopText {
                font-size: $medium;
                padding: 30px 10px 40px 40px;
            }

            &__boldMiddleText {
                font-size: $x-large;
                padding: 70px 90px 40px 40px;
            }

            &__boldBottomText {
                font-size: $large;
                padding: 70px 110px 20px 110px;
            }
        }
    }
}