@import "/src/style/base/variables.scss";

.productsectionlist{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;

    &__article{
        display: flex;
        flex-direction: column;
        gap: 20px;
        border: solid;
    }
    &__info{
        display: flex;
        flex-direction: column;
    }
    
}
@media screen and (min-width: 830px){

.productsectionlist{
    display: grid;
    grid-template-columns: repeat(4, 0.5fr);
}
}