@import "/src/style/base/variables.scss";
@media screen and (min-width: 830px){
    
    .profile_details{
        display: grid;
        grid-template-areas: 
        "a a b b"
        "a a b b"
        ". . . ."
        ". . . ."
        "c c c c"
        "c c c c"
        ;
    }
}
body{
    background-color: var(--bg);
}
.profile__image{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    
}

.profile__userprofile{
grid-area: a;
display: flex;
flex-direction: column;
align-items: center;
margin-top: 150px;
}

.profile__favoritelist{
    margin-top: 150px;
    grid-area: b;
    display: flex;
    flex-direction: column;
    align-items: center;
& .profile_buttons{
    display: flex;  
    gap: $large;

    & button{
        border-radius: 50%;
        border: none;
        background-color: $dark;
        padding: 10px;
    }
}
}
.profile_favorites{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.change{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: $primary;
    border: none;

    
}
.change--active{
    background-color: red;
}
.profile__information{
    grid-area: c;
    margin-top: 150px;
    display: grid;
    grid-template-columns: repeat(2, 0.1fr);
    grid-gap: 10px;
    width: 100%;
    justify-content: center;    
    & input{
        font-size: 20px;
        width: 400px;
        height:30px;
        border: none;
        background-color: $dark;
        color: white;
    }
    pointer-events: none;
}
.profile__information--edit{
pointer-events: all;
}
