* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

img, svg {
    max-width: 100%;
}

main {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

a {
    color: inherit;
}