.navigation{
    background-color: $primary;
    &__searchInputField{
        display: flex;
        align-items: center;
        position: absolute;
        top: 80px;
        width: 80%;
    }
    &__searchBtn{
        color: var(--text);
        background-color: var(--bg);
        border: 2px solid var(--bg);
        border-radius: 50%;
        padding: $x-small;
    }
    &__searchInput{
        width: 90%;
        padding: $x-small $small;
        border-radius: $border-radius;
        border: 4px solid #214341;
        background-color: $primary;
        margin-right: $x-small;
    }
    &__iconList{
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 25px;
        column-gap: 25px;
        width: 100px;
        position: absolute;
        top: 30em;
        left: 50%;
        margin-left: -90px;
    }
    &__iconContainer{
        width: 80px;
        height: 80px;
        background-color: var(--bg);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    &__menuIcon{
        width: 25px;
        height: 25px;
    }
    &__menu{
        display: none;
        margin: 25px 0 0 15px;
            & li{
                list-style: none;
            }
            & a{
                text-decoration: none;
                color: var(--text);
            }
            
    }
}
@media screen and (min-width: 700px){
    .header{
        background-color: var(--bg);
        &__menu{
            display: block;
        }
    }
    .navigation__menu{
        display: block;
    }
    .header__navigation{
        display: flex;
        
        &__iconContainer{
            width: 50px;
            height: 50px;
        }
    }
    .burger{
        display: none;
    }
    .header{   
        position: relative;
       
        &__menu{
         position: absolute;
         top: -6em;
         left: $x-large;
        }
        .navigation__searchInput{
            width: 10px;
        }
    }
    .header__menu{
        position: relative;
        display: inline-block;
        &item{
            display: none;  
            position: absolute;
            z-index: 1;
            margin-bottom: 10px;
            
        }
        &item:first-of-type{
            display: block;
            margin-top: -45px;
           
        }
        
.header__menu:hover &item  {
    display: block;
    position: relative;
    padding: 0px 0px;
    }
}

    .header__topbar{
        background-color: var(--bg);
    }
}


.navigation__open{
    display: block;
}