@import '../base/variables';
@import '../base/resets';

nav svg {

    stroke-width: 3px;

}

.navigation {
    background-color: $primary;
    position: relative;


    &__searchInputField {
        display: flex;
        align-items: center;
        position: absolute;
        top: -25em;
        left: 4.2em;
        width: 300px;
    }


    &__searchBtn {
        color: var(--text);
        background-color: var(--bg);
        border: 2px solid var(--bg);
        border-radius: $border-radius;
        padding: $x-small;
    }

    &__searchBtn {
        width: 50px;
        height: 50px;
        border-style: none;
        font-size: 18px;
        outline: none;
        cursor: pointer;
        border-radius: 50%;
        position: absolute;
        top: -25em;
        right: 0em;
        pointer-events: painted;
        z-index: 1;
    }

    &__searchBtn:focus~&__searchInput {
        width: 200px;
        border-radius: $border-radius;
        background-color: var(--text);
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
        top: 4em;
        color: var(--bg);
    }

    &__searchInput:focus {
        width: 200px;
        border-radius: $border-radius;
        background-color: var(--text);
        color: var(--bg);
        border-bottom: 1px solid rgba(255, 255, 255, .5);
        transition: all 500ms cubic-bezier(0, 0.110, 0.35, 2);
        top: 4em;
    }

    &__searchInput {
        width: 90%;
        padding: $x-small $small;
        border-radius: $border-radius;
        border: 4px solid #214341;
        background-color: $primary;
        margin-left: -$small;
        height: 50px;
        border-style: none;
        font-size: 18px;
        letter-spacing: 2px;
        outline: none;
        border-radius: $border-radius;
        transition: all .5s ease-in-out;
        padding-right: 40px;
        color: var(--text);
        position: absolute;
        top: 4.5px;
        left: -42.5px;


    }

    &__searchInput::placeholder {
        font-size: 8px;
        letter-spacing: 2px;
        font-weight: 100;
    }

    &__iconList {
        display: grid;
        grid-template-columns: 1fr 1fr;
        row-gap: 25px;
        column-gap: 25px;
        width: 100px;
        position: absolute;
        top: 30em;
        right: 50%;
        margin-right: -$medium;
    }

    &__IconBG {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 32px;
        width: 32px;
    }

    &__iconContainer {
        width: 80px;
        height: 80px;
        background-color: var(--bg);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__menuIcon {
        width: 25px;
        height: 25px;

    }

    &__menu {
        display: none;
        margin: 25px 0 0 15px;

        & li {
            list-style: none;
        }

        & a {
            text-decoration: none;
            color: var(--text);
        }

        &Item {
            font-weight: bolder;
        }

        &Item img {
            width: 20px;
            height: 20px;
        }

    }
}

.navigation__open {
    display: block;
}

@media screen and (min-width: 830px) {
    .header__wrapper {
        background-color: var(--bg);
    }

    .header {
        background-color: var(--bg);

        &__menu {
            display: block;

            &Item:nth-of-type(2),
            &Item:nth-of-type(3),
            &Item:nth-of-type(4) {
                margin-left: $small;
            }
        }

    }

    .mobileText {
        display: none;
    }

    .navigation {
        &__searchBtn {
            position: absolute;
            top: 2px;
            width: 60px;
            height: 60px;
        }

        &__searchInput {
            width: 10px;
        }

        &__searchInputField {
            top: 0;
            right: 10.5em;
            margin-left: -70px;
            width: 0;
        }

        &__iconList {
            grid-template-columns: 1fr 1fr 1fr 1fr;
            row-gap: 0;
            column-gap: 5px;
            top: -20px;
            right: -10em;
        }

        &__iconContainer {
            width: 60px;
            height: 60px;
        }

        &__menu {
            display: flex;
            position: absolute;
            top: 0;
            right: 22em;

            &Item:first-of-type {
                display: none;
            }

            &Item:nth-of-type(2),
            &Item:nth-of-type(3) {
                margin-right: 1.5em;
            }
        }
    }

    .header__navigation {
        display: flex;


    }

    .burger {
        display: none;
    }

    .header {
        position: relative;

        &__menu {
            position: absolute;
            top: -6em;
            left: $x-large;
        }
    }

    .header__menu {
        position: relative;
        display: inline-block;


        &item {
            display: none;
            position: absolute;
            z-index: 1;
            margin-bottom: 10px;
            vertical-align: top;

        }

        &item:first-of-type {
            display: block;
            margin-top: -45px;

        }

        &item:nth-of-type(2) {
            margin-top: -20px;
        }


        .header__menu:hover &item:first-of-type {
            padding: 0px;

        }

        .header__menu:hover &item {
            display: block;
            position: relative;
            padding: 10px 0 0 0;

        }
    }


    .header__topbar {
        background-color: var(--bg);
    }
}