@import "../base/variables";

.landing__newsLetter {
    &Article {
        margin-top: $x-large;
        padding-top: $x-large;
        text-align: center;
        width: 100%;
        height: 40vh;
        background-color: $secondary12;

        & h1 {
            margin: 0 $x-large;
            font-size: $large;
        }

        & p {
            margin-top: $medium;
            font-size: $medium;
        }
    }

}

.landing__newsLetterForm {
    background-color: $tertiary;

    &InputField {
        margin: 0 auto;
        width: 80%;
        border-radius: $border-radius;
        padding: $small $medium
    }

    &RadCheckbox {
        display: flex;
        flex-direction: column;
    }

    &RadCheckboxMore {
        display: flex;
    }
}



.rad-label {
    display: flex;
    align-items: center;
    border-radius: 100px;
    padding: 14px 16px;
    margin: 10px 0;
    cursor: pointer;
    transition: .3s;
    position: relative;
    overflow: hidden;
}

.rad-label:hover,
.rad-label:focus-within {
    background: hsla(0, 0%, 80%, .14);
}

.rad-input {
    position: absolute;
    left: 0;
    top: 0;
    width: 1px;
    height: 1px;
    opacity: 0;
    z-index: -1;
}

.rad-design {
    width: $medium;
    height: $medium;
    border-radius: 100px;
    background: linear-gradient(to right bottom, $primary, $primary50);
    position: relative;
}

.rad-design::before {
    content: '';
    display: inline-block;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    background: hsl(0, 0%, 90%);
    transform: scale(1.1);
    transition: .3s;
}

.rad-input:checked+.rad-design::before {
    transform: scale(0);
}

.rad-text {
    color: hsl(0, 0%, 60%);
    margin-left: 14px;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 900;
    transition: .3s;
}

.rad-input:checked~.rad-text {
    color: hsl(0, 0%, 40%);
}