.productDescription__name{
margin-top:$x-large;
}

.productDescription__productImages{
    display: flex;
    margin-top:$large;
}

.productDescription__thumbnails{
    width: 20vw;
}

//gummigSed
.productDescription__thumbnail{
    
    width: 16vw;
    margin: $small;
    
}

.productDescription__thumbnailImg{
    height: 100%;
    width: 100%;
    border-radius: $medium;

}

.productImages__productDisplay{
    width: 70vw;
    display: flex;
}

.productImages__currentImageDiv{
    width: 60vw;
    padding-left: $small;
}

.productImages__CurrentImageImg{
    height: 100%;
    width: 100%;
    border-radius: $small; 
}

// *************************** product review ******************
.reviewpr{
    padding-top: $large ;
    padding-bottom: $x-large;
    display: flex;
    justify-content:center;
    align-items: center;
}
.reviewThisProduct{
    background-color: $primary;
    height: 130px;
    width: 130px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.reviewThisProduct p{
    font-size:$small;
    font-weight:600;
}
  // ****************************  specs styling ****************************
  
  .productSpecs__specHead{
      display: flex;
      justify-content: space-between;
  }


 // *************************** similarProducts ****************************

 .similarProducts{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
    }

    .similarProducts__currentImageDiv{
        padding-top:$large;
        margin-bottom:$large;
        border-radius: 25px;
    }
    .productImagesCurrentImage__disc{
        display: flex;
        align-items: center;
        flex-direction: column;
        padding-top: $small;
    }
    .productImagesCurrentImage__disc h3{
        font-weight:800;
    }



@media screen and (min-width: 900px){

    .productDescription__thumbnails{
        display: flex;
       
    }

}