

.productDescription__productImages{
    display: flex;
}

.productDescription__thumbnails{
    width: 20vw;
}

//gummigSed
.productDescription__thumbnail{
    
    width: 16vw;
    margin: $small $medium 2vw 0;
    
}

.productDescription__thumbnailImg{
    height: 100%;
    width: 100%;
    border-radius: $x-small;
    border: 1px solid $primary;
    

}

.productImages__productDisplay{
    width: 100%;
    padding: $small 0 $small 0;
    display: flex;
    justify-content: space-between;
}

.productImages__currentImageDiv{
    width: 60vw;
    height: 30vw;
}

.productImages__arrowLeftDiv{
    display: none;
}

.productImages__arrowRightDiv{
    display: none;
}

.productImages__CurrentImageImg{
    height: 100%;
    width: 100%;
    border-radius: $x-small;
    border: 2px solid $primary;
}

.productDescription__flavor_text{
    color: rgba(33, 67, 65, 0.651);
    font-weight: 500;
    font-size: $medium;
}

.productDecription__reviewBasis{
    color: $primary;
    font-size: $small;

   
}

.feather-star{
    height: $large;
    width: $large;
}

.productDecription__price{
    font-weight: 800;
    font-size: $large;
    color: $text;
}

.productDecription__addToCart{
    width: 100%;
    font-size: $medium;
    font-weight: 600;
}

.productDecription__shipping{
    color: $primary;
    font-size: $small;
}

.productDescription__productImages{
    margin: 0 0 $medium 0;
}




@media screen and (min-width: 900px){



    .productDescription__thumbnails{
        display: flex;
       
    }

    .productImages__arrowLeftDiv{
        display: initial;
    }
    
    .productImages__arrowRightDiv{
        display: initial;
    }

}