@import '../base/variables';

.standardBtn {
    border-radius: 18px;
    border: none;
    color: #214341;
    background-color: #40a393;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 12px;
}
.btn{
    display:flex;
    justify-content: center;
    align-items: center;
}