@import '../base/variables';


.page{
    width: 100%;
    margin: 0 auto;
}
body {
    margin: 10px 40px 10px 40px
}



@media screen and (min-width: 900px){
    .amount{
        display: flex;
        align-items: center;
        margin-bottom: $small;
    }
    .productAmount{
        margin-left: $x-small;
    }

    .page{
        width: 80%;
        margin: 0 auto;
    }

}
.standardBtn {
    border-radius: $border-radius;
    border: none;
    color: #214341;
    background-color: #40a393;
    font-family: "Montserrat", sans-serif;
    font-size: $x-small;
    font-weight: 700;
    padding:$x-small;
    transition: 0.7s ease;
}
.standardBtn:hover {
    transform: scale(1.1);
    background-color: $dark;
}
.standardBtn h4{
    transition: 0.7s ease;
}
.standardBtn:hover h4{
    color: aliceblue;
}
.btn{
    display:flex;
    justify-content: center;
    align-items: center;
}


.standardBtn{
    width: 100%;
}
@media screen and (min-width:900px) {
.x-mobil{
            display: none;
}
.standardBtn{
    border-radius: $border-radius;
    border: none;
    color: $dark;
    background-color: $primary;
    font-size: $small;
    font-weight: 700;
    padding: 0px;
    width: 40%;
    cursor: pointer;
    transition: 0.7s ease;
    }
    .standardBtn:hover {
        transform: scale(1.1);
        background-color: $dark;
    }
    .standardBtn h4{
        transition: 0.7s ease;
    }
    .standardBtn:hover h4{
        color: aliceblue;
    }
    }
    
    @media screen and (max-width: 800px){
        .l-deskt{
            display: none;
        }
    }
    .amount{
        display: flex;
        align-items: center;
        margin-bottom:$small;
    }
    .productAmount{
        margin-left: $x-small;
    }