@import '../base/variables';
@import '../states/cartList--empty.scss';

.cartList {
    padding: $small;
    position: relative;
    border-radius: $border-radius;
    display: flex;
    flex-direction: column;
    margin: 0 0;

    &__list {
        background: $primary50;
        border-radius: $border-radius;
        padding: $medium 0;
    }




    &--empty {
        background: $primary50;
        padding: $x-large;
    }


    &__empty {

        &Header {
            font-family: 'Montserrat';
            font-size: 32px;
            margin-bottom: $small;
        }

        &Text {
            font-size: 18px;
            margin-bottom: $large;
            opacity: .8;
        }

        &Btns {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $small;
        }

        &Btn {
            padding: $small $large;
            background: $text;
            color: $bg;
            width: fit-content;
            border-radius: $border-radius;
            font-size: 18px;
            font-family: 'Montserrat';
            font-weight: 700;
            height: 56px;
            display: flex;
            align-items: center;
            width: 100%;
            justify-content: center;

            cursor: pointer;

            transition: .3s;

            &--random {
                background: transparent;
                color: $text;
                font-size: 16px;
                border: 3px solid $text;

                &:hover {
                    background: $primary50;
                }
            }

            &:hover {
                filter: brightness(.9);
            }
        }

        &Hero {
            margin-top: $small;
            transition: .3s;
        }
    }
}

.listItem__amuont {
    background-color: $dark;
}

@media screen and (min-width: 900px) {
    .cartList {
        &__empty {
            &Btns {
                flex-direction: row;
            }

            &Btn {
                width: fit-content;
            }

            &Hero {
                margin-top: calc(($x-large * 4) * (0 - 1));
                align-self: flex-end;
            }
        }
    }
}