@import '../base/variables';

.cartBreadcrump {
    position: relative;
    height: 10rem;

    &__backgroundLine {
        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
        width: 100%;
        background: $primary;
        height: $medium;
        border-radius: $border-radius;
    }

    &__dots {
        position: absolute;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        align-items: center;
    }

    &__dot {
        width: 5rem;
        height: 5rem;
        background: $primary;
        color: $bg;
        border: 4px solid $bg;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        border-radius: 50%;

        transition: .5s;

        & svg {
            stroke-width: 2px;
            width: $large;
            height: $large;
        }

        & p {
            height: 0;
            opacity: 0;
            transition: .7s;
            font-family: 'Montserrat';
            font-weight: 600;
            font-size: 18px;
        }

        // Variations here

        &--success {
            background: $text;
        }

        &--active {
            background: $text;
            height: 8rem;
            width: 8rem;

            & p {
                margin-top: $x-small;
                height: $medium;
                opacity: 1;
            }
        }
    }
}