@import '../base/variables';
   
    .productDecription__colorPicker-Orange{
        width: $large;
        height: $large;
        border-radius: 50%;
        border: 2px solid $primary;
        background-color: chocolate;
        }
    
        .productDecription__colorPicker-Grey{
        width: $large;
        height: $large;
        border-radius: 50%;
        border: 2px solid $primary;
        background-color: grey;
        }
    
        .productDecription__colorPicker-Black{
        width: $large;
        height: $large;
        border-radius: 50%;
        border: 2px solid $primary;
        background-color: black;
        }
    
        .productDecription__colorPicker-Red{
        width: $large;
        height: $large;
        border-radius: 50%;
        border: 2px solid $primary;
        background-color: red;
        }
        .productDecription__colorPickerDiv span {
            display: none;
        }
        .productDecription__colorPickerDiv{
        display: flex;
        padding-top:$small;
        justify-content: start;
        
        }
    
        .productDecription__colorPicker{
            cursor: pointer;
            width: $medium;
            height: $medium;
            border-radius: 50%;
            border: 2px solid $primary;
            margin-right: $x-small;
            transition: all 0.7s;
        }
        .productDecription__colorPicker--selected{
            border: 5px solid rgba(58, 58, 58, 0.755);
        }
        .productDecription__colorPicker:hover{
            transform: scale(1.1);
        }
    
        .productDecription__colorPickerDiv input{
            display:none;
        }
        .productDecription__colorPicker{
            margin-top:$small;
            margin-bottom: -6px;
            } 

        @media screen and (min-width:900px){
            .productDecription__colorPicker{
                margin-top:$small;
                margin-bottom:-12px
                }
                .productDecription__colorPicker{
                    cursor: pointer;
                    width: $large;
                    height: $large;
                    border-radius: 50%;
                   
                    margin-right: $x-small;
                    transition: all 0.7s;
                }

        }

