@import "../base/variables";

.landing {


    &__package {
        text-align: center;
    }

    &__parkageImage {
        width: 100%;
        display: flex;
    }

    &__parkageArticle {
        text-align: center;
        height: 500px;
        width: 100%;
        background-color: $tertiary;
        color: $light;

        &Overtext {
            padding-top: $large;
            font-size: $medium;
        }

        &Midtext {
            margin: $large auto;
            font-size: $large;
            width: 284px;
        }

        &Bottomtext {
            margin: $large 0;
            padding-bottom: $large;
            font-size: $medium;
            font-weight: bold;
        }

        &Buttonlink {
            text-decoration: none;
            color: $text;
            background-color: $primary;
            padding: $small $x-large;
            border-radius: $border-radius;
            font-weight: bold;
            font-size: medium;
        }
    }
}

@media screen and (min-width: 850px) {
    .landing {
        &__package {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin-left: 20px;
        }

        &__parkageImage {
            width: 80%;
            height: 69vh;
            margin-left: 11em;
            border-radius: $border-radius;
        }

        &__parkageArticle {
            height: 69vh;
            width: 80%;
            border-radius: $border-radius;
        }
    }
}