@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  font-family: 'Lato';
}

html {
  --text: #214341;
  --bg: #EBF2E8;
  background: var(--bg);
  color: var(--text);
  -webkit-transition: background .3s, color .3s;
  transition: background .3s, color .3s;
}

html[data-theme='dark'] {
  --text: #EBF2E8;
  --bg: #214341;
}

.productImagesCurrentImage__disc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 1rem;
}

.productImagesCurrentImage__disc h3 {
  font-weight: 800;
}

.productDescription__productImages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

.productDescription__thumbnails {
  width: 20vw;
  margin: 1rem 0 0 0;
}

.productDescription__thumbnail {
  width: 16vw;
  margin: 0 1.5rem 3vw 0;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.productDescription__thumbnail:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.productDescription__thumbnailImg {
  height: 100%;
  width: 100%;
  border-radius: 1.5rem;
}

.productImages__productDisplay {
  width: 100%;
  padding: 1rem 0 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productImages__currentImageDiv {
  width: 60vw;
  padding-left: 1rem;
}

.productImages__CurrentImageImg {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.productDescription__productImages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2rem;
}

.productDescription__thumbnails {
  width: 20vw;
  margin: 1rem 0 0 0;
}

.productDescription__thumbnail {
  width: 16vw;
  margin: 0 1.5rem 3vw 0;
  -webkit-transition: 0.7s ease;
  transition: 0.7s ease;
}

.productDescription__thumbnail:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.productDescription__thumbnailImg {
  height: 100%;
  width: 100%;
  border-radius: 1.5rem;
}

.productImages__productDisplay {
  width: 100%;
  padding: 1rem 0 1rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.productImages__currentImageDiv {
  width: 60vw;
  padding-left: 1rem;
}

.productImages__CurrentImageImg {
  height: 100%;
  width: 100%;
  border-radius: 0.5rem;
}

.productImagesCurrentImage {
  height: 130px;
}

@media screen and (min-width: 900px) {
  .productImages__CurrentImageImg {
    margin-bottom: 800px;
  }
  .productDescription__productImages {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .productImages__productDisplay {
    height: 300px;
    width: 500px;
    position: relative;
    top: 15%;
  }
  .productDescription__thumbnails {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 13%;
    width: 400px;
    margin-bottom: 1.5rem;
  }
  .productDescription__thumbnail {
    -webkit-transition: 0.7s ease;
    transition: 0.7s ease;
  }
  .productDescription__thumbnail:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
  .productImages__arrowLeftDiv {
    display: initial;
  }
  .productImages__arrowRightDiv {
    display: initial;
  }
}
/*# sourceMappingURL=productGallery.css.map */