@import '../base/variables';

.productImagesCurrentImageDiv{
    align-items: center;
}

productImagesCurrentImageDiv

.productImagesCurrentImage__disc{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: $small;
}
.productImagesCurrentImage__disc h3{
    font-weight:800;
    text-align: center;
}
.productDescription__productImages{
    display: flex;
    margin-top:$large;
}

.productDescription__thumbnails{
    width: 20vw;
    margin: $small 0 0 0;
    cursor: pointer;
}

//gummigSed
.productDescription__thumbnail{
    width: 16vw;
    margin: 0 $medium 3vw 0;
    transition: 0.7s ease;
}
.productDescription__thumbnail:hover{
    transform: scale(1.5);
}
.productDescription__thumbnailImg{
    height: 100%;
    width: 100%;
    border-radius: $medium;
}


.productImages__productDisplay{
    width: 100%;
    padding: $small 0 $small 0;
    display: flex;
    justify-content: space-between;
}

.productImages__currentImageDiv{
    width: 60vw;
    padding-left: $small;
}

.productImages__CurrentImageImg{
    height: 100%;
    width: 100%;
    border-radius: $x-small;
    //border: 2px solid $primary;
}
.productDescription__productImages{
    display: flex;
    margin-top:$large;
}

.productDescription__thumbnails{
    width: 20vw;
    margin: $small 0 0 0;
}

//gummigSed
.productDescription__thumbnail{
    width: 16vw;
    margin: 0 $medium 3vw 0;
    transition: 0.7s ease;
}
.productDescription__thumbnail:hover{
    transform: scale(1.5);
}
.productDescription__thumbnailImg{
    height: 100%;
    width: 100%;
    border-radius: $medium;
}


.productImages__productDisplay{
    width: 100%;
    padding: $small 0 $small 0;
    display: flex;
    justify-content: space-between;
}

.productImages__currentImageDiv{
    width: 60vw;
    padding-left: $small;
}

.productImages__CurrentImageImg{
    height: 100%;
    width: 100%;
    border-radius: $x-small;
    //border: 2px solid $primary;
}

.productImagesCurrentImage{
    height: 130px;
}



@media screen and (min-width: 900px){

    .productImages__CurrentImageImg {
        margin-bottom:800px;
    }
    .productDescription__productImages{
        display: flex;
        flex-direction: column-reverse;
        flex-wrap: wrap;
        justify-content:space-between;
    }
    .productImages__productDisplay{
        height: 300px;
        width:500px;
        position: relative;
        top: 15%;
    }



    .productDescription__thumbnails{
        display: flex;
        margin-left:13%;
        width: 400px;
        margin-bottom: $medium;
    }
    .productDescription__thumbnail{
        transition: 0.7s ease;
    }
    .productDescription__thumbnail:hover{
        transform: scale(1.5);
    }

    .productImages__arrowLeftDiv{
        display: initial;
    }
    
    .productImages__arrowRightDiv{
        display: initial;
    }

}