@import '../base/variables';

.productImages__arrowLeftDiv, .productImages__arrowRightDiv{
    display: none;
}
.productDecription__price{
    font-size:$large;
    font-weight: 700;
}

@media screen and (max-width: 800px){
    .l-deskt{
        display: none;
    }
}
.amount{
    display: flex;
    align-items: center;
}



@media screen and (min-width:900px) {
    .productDescription{
        display: flex;
        justify-content:space-between;
    }


    .productDescription__desc{
    margin-top:$small;
    font-size:$small;
    font-weight: 500;
    }
    .productDescription__article{
    padding-left:$x-large;
    }
}
@media screen and (min-width:900px) {
    .x-mobil{
        display: none;
    }
}