@import '../base/variables';

.productSpecs__sound{
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
}
.productSpecs__sound--visible {
    opacity: 1;
    height: 100px;
    transition: all 0.5s;
}
.productSpecs__design {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
}
.productSpecs__design--visible{
    opacity: 1;
    height: 100px;
    transition: all 0.5s;
    
}
.productSpecs__connectivity{

    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.5s;
} 

.productSpecs__connectivity--visible{
    opacity: 1;
    height: 200px;
    transition: all 0.5s;
   

}
.productSpecs__connectivity li {
    list-style: none;
    margin-left: 0;
}

.productSpecs__reviews{
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.7s;
}
.productSpecs__reviews--visible{
    opacity: 1;
    height: auto;
    transition: all 0.8s;
    color: black;
}

.productSpecs__stock {
    opacity: 0;
    height: 0;
    overflow: hidden;
    transition: all 0.5s;

}
.productSpecs__stock--visible{
    opacity: 1;
    height: auto;
    transition: all 0.5s;


}






.productSpecs__design , .productSpecs__soundDesc , .productSpecs__stock{
    list-style: none;
}

.productSpecs__specHead{
    display: flex;
    justify-content: space-between;
}
.productSpecs__lines{
    margin-top:$x-small;
    margin-bottom:$x-small;
    width: 100%;
    border: 1px solid $primary;
    border-radius:$border-radius;
}
.productSpecs__userIconDiv img{
    width: 30px;
    height: 30px;
    border-radius:$border-radius;
    background-size: cover;
}
.productSpecs__userInfoDiv{
    display: flex;
    align-items: center;
}
.productSpecs__userNameP{
    margin-left: $x-small;
}
.productSpecs__reviewRatingDiv{
    margin-bottom: $small;
}
.productSpecs__reviewStarsDiv{
    margin-top: $x-small;
}
.productSpecs__eachUserReviewRatingDiv{
    display: flex;
    align-items: center;
}
.productSpecs__reviewRatingP{
    margin-left: $x-small;
}


@media screen and (min-width:900px) {
    .productSpecs__lines{
        margin-top:$x-small;
        margin-bottom:$x-small;
        width: 100%;
        border: 1px solid $primary;
        border-radius:$border-radius;
    }
    
    .productSpecs{
        margin-top:$x-large;
    }
    .productSpecs__specHead{
        font-size:$medium;
    }   .reviewpr{
        transition: 0.7s ease;
    }
    .reviewpr:hover{
        transform: scale(1.1);
    }
   
}