@import '../base/variables';


@media screen and (min-width:900px) {
    .productDescription__flavor_text{
    font-size:$large;
    font-weight:700;
    }

}

@media screen and (max-width: 800px){
    .L-deskt{
        display: none;
    }
}
.productDescription__flavor_text{
    font-weight:700;
    font-size:$medium;
    margin-bottom: $small;
}