
@import "../../style/base/_variables.scss";
.standardBtn {
    border-radius: 18px;
    border: none;
    color: #214341;
    background-color: #40a393;
    font-family: "Montserrat", sans-serif;
    font-size: 18px;
    font-weight: 700;
    padding: 12px 12px;
}
.btn{
    display:flex;
    justify-content: center;
    align-items: center;
}


.standardBtn{
    width: 30%;
}
@media screen and (min-width:900px) {
.x-mobil{
            display: none;
}
.standardBtn{
    border-radius: $border-radius;
    border: none;
    color: $dark;
    background-color: $primary;
    font-size: $small;
    font-weight: 700;
    padding: $small;
    width: 100%;
    cursor: pointer;
    transition: 0.7s ease;
    }
    .standardBtn:hover {
        transform: scale(1.1);
        background-color: $dark;
    }
    .standardBtn h4{
        transition: 0.7s ease;
    }
    .standardBtn:hover h4{
        color: aliceblue;
    }
    }
    
